In [2]:
#2020-ml-p4-re
!pip uninstall --y kaggle 
!pip install --upgrade pip
!pip install kaggle==1.5.6

!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle -v

Uninstalling kaggle-1.5.9:
  Successfully uninstalled kaggle-1.5.9
Collecting pip
  Downloading https://files.pythonhosted.org/packages/cb/28/91f26bd088ce8e22169032100d4260614fc3da435025ff389ef1d396a433/pip-20.2.4-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 9.4MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.4
Collecting kaggle==1.5.6
  Downloading kaggle-1.5.6.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.1 MB/s
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.6) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.6-py3-none-any.whl size=72859 sha256=177a79854984ce3e156fb3b738427c9ca6dfcb38e0d6a0157da106fe9e1839a6
  Stored in directory: /root/.cache/pip/wheels/01/3e/ff/77407ebac3ef71a79b9166a8382aecf88415a0bcbe3c095a01
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.6
Kaggle API 1.5.6

In [1]:
!kaggle competitions download -c 2020ml4re
!unzip 2020ml4re.zip

2020ml4re.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  2020ml4re.zip
replace sampleSubmission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [3]:
import seaborn as sns
import pandas as pd 
import numpy as np 

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')


df_train.drop(['age_group','religion'], axis=1, inplace=True)
df_test.drop(['age_group','religion'], axis=1, inplace=True)

full_data = [df_train,df_test]
pd.options.display.max_columns = None
print(df_train.head(20))
print(df_test.head(20))

    index  QaA   QaE  QbA    QbE  QcA    QcE  QdA   QdE  QeA   QeE  QfA   QfE  \
0       2  4.0  1623  1.0   1480  1.0   1021  4.0  3374  5.0  1333  1.0   531
1       3  3.0   504  3.0   2311  4.0    992  3.0  3245  1.0   357  2.0  1519
2       5  2.0   834  1.0   1769  4.0   2105  1.0  1070  5.0  1930  2.0  1258
3       8  5.0   795  2.0   3469  4.0   1693  3.0  1991  4.0  5922  2.0  1322
4       9  2.0  1668  1.0    866  1.0    895  1.0  1308  2.0  1715  5.0   563
5      15  2.0   447  4.0   1316  4.0    745  1.0   526  3.0  1121  1.0   637
6      16  1.0   390  5.0   1322  5.0   1947  1.0   887  1.0  1127  2.0   978
7      18  3.0   359  5.0    603  4.0    483  1.0   555  2.0   379  2.0   331
8      19  2.0   989  5.0   5602  5.0    542  2.0  2067  2.0  1004  2.0   615
9      20  3.0   309  4.0    877  5.0    628  3.0   427  5.0   726  4.0   664
10     21  2.0   619  4.0   1012  5.0    597  1.0   936  1.0  2443  5.0  1552
11     22  4.0   366  2.0   1123  2.0   1007  2.0   581  2.0  1359  4.0  1450
12     24  2.0   835  3.0   1047  3.0   1285  1.0   864  3.0  1798  4.0  2252
13     26  2.0   473  2.0   1614  4.0   1317  1.0   837  2.0  1115  2.0  1677
14     27  1.0   368  4.0   2668  4.0    767  1.0   659  1.0   441  1.0   817
15     28  1.0   363  5.0    941  5.0   1237  1.0   823  5.0  1099  1.0   509
16     29  5.0   613  5.0    968  5.0    377  1.0   829  2.0  1049  1.0   462
17     31  4.0  2340  1.0  18350  3.0  31865  1.0  4024  5.0  5023  4.0  3223
18     35  1.0   642  5.0    590  2.0    475  2.0   647  1.0   958  2.0   424
19     36  1.0  1277  4.0   1243  5.0   1637  1.0  1792  3.0   814  5.0  1313

    QgA   QgE  QhA   QhE  QiA   QiE  QjA    QjE  QkA   QkE  QlA   QlE  QmA  \
0   4.0  1167  1.0  1016  3.0  2653  2.0   1569  5.0   998  5.0  2547  2.0
1   4.0   159  3.0  2275  5.0  2809  4.0   5614  3.0  3219  4.0  1296  4.0
2   5.0  1451  1.0  1029  3.0  1633  1.0   2254  5.0  1984  1.0  1158  3.0
3   5.0  1014  5.0  3014  3.0  3771  3.0  13295  5.0  3605  3.0  9265  4.0
4   5.0   574  1.0  1406  5.0  1698  3.0   1354  5.0   774  1.0  1299  1.0
5   1.0   480  1.0  1723  2.0  1525  4.0   1109  3.0  1288  5.0   742  5.0
6   1.0  2258  1.0  2072  5.0  1794  4.0   1954  5.0   832  5.0  1694  5.0
7   3.0   408  2.0   762  2.0  1309  5.0    653  4.0   647  5.0   645  4.0
8   1.0   334  4.0   742  4.0  3872  4.0    571  4.0   606  5.0   597  4.0
9   5.0   475  2.0   607  2.0   982  5.0    730  4.0   605  4.0   507  4.0
10  3.0   952  3.0  1314  5.0  1189  4.0   1769  5.0  1411  5.0   923  4.0
11  2.0   897  1.0  1104  4.0  2269  1.0   1131  4.0   871  5.0   990  3.0
12  4.0  1444  3.0  1566  3.0  2084  3.0   1305  5.0  1582  3.0  1864  2.0
13  4.0  2593  4.0  1314  2.0  2033  4.0   1058  4.0  1679  3.0  1446  4.0
14  4.0   661  3.0  2345  1.0  1126  5.0   1020  2.0  2224  5.0   625  5.0
15  1.0   430  5.0  1406  1.0  1424  5.0   1294  3.0  1587  5.0  1168  5.0
16  2.0   473  5.0   619  3.0  1134  4.0    941  5.0   723  5.0   880  4.0
17  4.0   298  5.0  6461  5.0  2506  1.0  35752  5.0  2108  2.0  3805  5.0
18  4.0   685  1.0   964  5.0   751  2.0   1352  5.0   481  5.0   980  2.0
19  2.0   909  1.0  1818  4.0  1481  4.0   2007  5.0  1092  4.0  1544  5.0

     QmE  QnA   QnE  QoA   QoE  QpA    QpE  QqA   QqE  QrA   QrE  QsA   QsE  \
0    918  4.0  2153  2.0  1304  1.0   1131  5.0   937  4.0  1327  1.0  1170
1   9046  4.0  1216  4.0  1169  4.0  23868  3.0   581  4.0  8830  4.0  2392
2   1194  3.0   483  1.0   983  1.0    817  5.0  1052  1.0  1354  1.0   747
3   2531  1.0   812  4.0  2595  5.0   1227  5.0  1837  4.0  1218  4.0  9923
4    810  5.0   327  1.0   646  1.0    957  4.0   850  5.0   693  1.0  1313
5    583  1.0   509  4.0  1305  2.0    962  4.0  1038  1.0   669  4.0   688
6   1189  4.0   805  1.0   933  5.0    976  5.0   435  5.0   906  1.0  1370
7    540  4.0   233  4.0   398  4.0    517  4.0   491  2.0   526  4.0   292
8    436  1.0   750  2.0   725  4.0   1128  2.0   612  2.0   714  1.0   365
9    520  3.0   423  4.0   573  4.0    636  4.0   422  3.0   427  2.0   857
10   759  2.0   941  4.0   830  4.0   1261  4.0   868  1.0   942  1.0   840
11   278  4.0   504  4.0   671  2.0    716  3.0   487  3.0  1047  4.0  1361
12  1799  4.0  2612  2.0  1087  1.0   1012  4.0   627  3.0  2382  3.0   855
13   811  2.0   643  2.0  3032  1.0   1014  1.0   493  2.0  1092  1.0   810
14   904  1.0   275  5.0   612  5.0    438  1.0   380  1.0   726  5.0   484
15   703  1.0   515  4.0  1235  5.0   1019  2.0  1631  1.0  1099  5.0   982
16   736  2.0   798  5.0   624  4.0   1146  4.0  1102  5.0   918  3.0   543
17  1550  5.0  8715  5.0  2323  3.0   1880  1.0  1083  5.0  3592  4.0  9633
18   452  4.0   418  3.0   673  4.0    669  4.0   549  3.0  1090  3.0   436
19  2357  3.0  1155  2.0   903  2.0   1124  4.0   680  3.0  1372  4.0  1734

    QtA   QtE  education  engnat  familysize  gender  hand  married  \
0   1.0  1409          3       1           3    Male     1        2
1   5.0  1312          4       2           0  Female     1        1
2   2.0  1826          2       1           6  Female     1        3
3   5.0  1631          4       2           0  Female     2        1
4   1.0   986          3       1           3  Female     1        1
5   2.0   700          4       1           4  Female     1        2
6   1.0  1936          2       1           4    Male     1        2
7   4.0   373          4       1           3  Female     1        1
8   4.0   527          2       1           3  Female     1        2
9   3.0   519          4       2           2    Male     1        1
10  1.0  1091          4       1           2    Male     3        2
11  4.0  1200          2       1           2  Female     2        1
12  1.0   978          3       2           3  Female     1        2
13  4.0  1221          3       1           3  Female     1        3
14  5.0  1156          2       1           2    Male     1        1
15  5.0   970          3       1           2    Male     1        2
16  4.0  1024          3       1           2  Female     1        2
17  2.0   104          1       2           2    Male     2        1
18  3.0  1026          3       1           1  Female     2        1
19  1.0  1428          3       2           4    Male     1        2

               race  tp01  tp02  tp03  tp04  tp05  tp06  tp07  tp08  tp09  \
0             White     2     3     1     5     3     4     2     6     1
1             Asian     2     4     1     1     1     3     1     3     1
2             White     5     5     5     4     5     3     3     7     5
3             Other     1     1     2     1     2     2     2     2     2
4             White     0     1     1     2     0     3     0     4     1
5             White     6     2     1     4     4     1     5     5     1
6             White     2     0     5     0     1     2     2     0     1
7             White     2     2     5     2     2     1     1     1     4
8             White     6     5     4     4     6     1     5     5     4
9             Asian     6     5     2     1     2     0     0     2     3
10            Black     5     2     1     6     0     1     2     3     2
11            White     2     3     1     2     1     2     1     5     1
12            White     2     5     0     6     5     6     3     6     0
13            White     4     2     4     1     1     4     2     3     2
14            Black     1     2     1     2     0     2     2     2     4
15  Native American     5     5     0     3     0     1     3     6     1
16            White     6     2     3     3     1     3     1     2     5
17            White     0     5     1     6     0     6     0     2     0
18            White     2     2     5     4     0     2     2     1     4
19            Asian     5     2     2     2     1     4     1     2     4

    tp10  urban  wf_01  wf_02  wf_03  wr_01  wr_02  wr_03  wr_04  wr_05  \
0      3      2      0      0      1      1      1      0      1      1
1      3      3      0      0      0      0      1      0      0      0
2      3      2      0      0      0      0      1      0      0      0
3      3      1      0      0      0      0      0      0      0      0
4      5      2      0      0      1      1      1      0      1      1
5      4      2      0      0      0      1      1      1      1      1
6      6      3      0      0      0      1      1      0      1      1
7      3      2      0      0      0      1      1      0      1      1
8      2      3      0      0      0      1      1      0      1      1
9      3      3      0      0      0      1      1      0      1      1
10     3      3      1      0      0      1      1      0      1      1
11     2      2      0      0      0      0      1      0      0      1
12     6      3      0      0      1      1      1      0      1      1
13     0      2      0      0      0      1      1      0      1      1
14     5      2      0      0      0      1      1      0      1      1
15     6      3      0      1      0      1      1      0      1      1
16     6      2      0      0      0      1      1      1      1      1
17     6      1      1      0      0      1      1      1      1      0
18     6      3      0      1      0      1      1      1      1      1
19     2      2      0      0      0      1      1      0      1      1

    wr_06  wr_07  wr_08  wr_09  wr_10  wr_11  wr_12  wr_13  voted
0       0      1      1      1      1      0      1      1      1
1       0      0      1      0      1      0      1      1      1
2       0      0      1      0      0      0      0      0      2
3       0      0      1      0      0      0      1      1      1
4       0      1      1      0      1      1      1      1      1
5       0      1      1      0      1      0      1      1      1
6       0      1      1      0      1      0      1      1      2
7       1      1      1      1      1      1      1      1      2
8       0      1      1      0      1      1      1      1      2
9       0      1      1      0      1      0      1      1      2
10      0      1      1      1      1      0      1      1      1
11      0      1      1      0      1      0      1      1      2
12      1      1      1      0      1      0      1      1      1
13      0      1      1      0      1      0      1      1      1
14      0      1      1      0      1      1      1      1      2
15      0      1      1      1      1      0      1      1      2
16      0      1      1      0      1      1      1      1      2
17      0      1      1      0      1      0      1      1      1
18      1      1      1      0      1      1      1      1      1
19      0      1      1      0      1      0      1      0      2
    index  QaA   QaE  QbA   QbE  QcA   QcE  QdA   QdE  QeA   QeE  QfA   QfE  \
0       6  1.0  1382  1.0  1473  5.0  1479  4.0  2403  1.0   616  2.0   549
1      10  1.0  1465  1.0  7581  4.0  1345  1.0   350  3.0  1747  1.0  1096
2      12  2.0   466  4.0  1650  4.0   655  3.0  1241  5.0  1339  2.0   515
3      14  1.0   739  4.0  2544  5.0   880  1.0  1425  1.0  1424  2.0  1032
4      25  3.0   483  2.0   871  2.0   849  2.0   650  5.0   974  1.0   576
5      32  2.0   804  5.0   563  4.0  1012  4.0   508  4.0   885  2.0   410
6      41  3.0   354  4.0  1668  1.0   992  1.0  1154  1.0  1354  1.0   468
7      42  3.0   860  1.0  9449  4.0   952  1.0   829  2.0  2082  1.0   550
8      46  4.0  2791  1.0  1655  5.0  1549  1.0   899  1.0  1637  1.0   490
9      47  2.0  1253  2.0  1571  2.0  1076  1.0  1382  2.0  2187  2.0  1369
10     48  1.0   362  5.0   957  4.0   666  1.0   900  1.0   871  1.0   459
11     57  1.0   518  3.0  4264  4.0  1546  1.0  6525  1.0  1054  2.0  1888
12     59  1.0   388  2.0  1208  2.0  1022  1.0   580  1.0   901  1.0   710
13     60  1.0   378  4.0   773  5.0   502  1.0   692  3.0   850  1.0   606
14     63  3.0  2216  1.0  3944  4.0  4568  1.0  1212  5.0  3991  1.0  2123
15     72  1.0   376  1.0  1393  3.0  1139  3.0   494  1.0   664  1.0   481
16     74  1.0    39  1.0    37  1.0    45  1.0    38  1.0    57  1.0    37
17     78  1.0   496  5.0  1748  5.0   625  3.0  6251  3.0  1074  1.0   503
18    100  1.0   382  4.0   727  5.0   777  1.0  1370  2.0   985  1.0   562
19    101  1.0   419  1.0  1695  1.0   972  2.0   872  1.0  1049  5.0   460

    QgA   QgE  QhA    QhE  QiA    QiE  QjA   QjE  QkA     QkE  QlA    QlE  \
0   5.0   390  4.0   1601  5.0   1312  1.0  1699  4.0    1229  4.0   1175
1   2.0   960  4.0   2785  5.0   7188  4.0  4032  4.0    1761  5.0   1306
2   2.0   936  3.0   1583  5.0   1654  4.0  1676  5.0     818  5.0   1464
3   2.0   943  1.0    629  2.0   2556  4.0   146  2.0    1586  5.0   1526
4   4.0  1162  1.0   1167  5.0   2206  4.0  1999  5.0    1335  5.0    678
5   4.0   437  1.0    714  5.0    891  5.0   991  5.0     628  5.0    656
6   2.0   855  1.0   2771  1.0   2066  2.0   940  1.0    1323  5.0   1319
7   1.0   458  1.0   1633  5.0  13721  2.0  3008  2.0    1483  5.0    618
8   1.0   398  1.0   2760  3.0   1843  5.0  1214  4.0    1678  5.0   1107
9   4.0  1106  1.0   1453  4.0   2888  5.0  2065  5.0    1083  2.0   4024
10  1.0   542  1.0   1176  2.0   1797  4.0  1278  3.0     704  5.0  10539
11  2.0   609  1.0   1350  5.0   1149  2.0   892  5.0  145237  5.0    704
12  1.0   475  1.0    832  3.0   1584  4.0  1096  4.0    1660  1.0   1309
13  2.0   621  3.0    917  2.0    919  4.0   783  3.0     787  5.0    524
14  4.0  7529  1.0   2568  1.0   3215  1.0  1413  5.0    2363  5.0   1618
15  2.0  1013  2.0   1077  4.0   1285  1.0   933  3.0     965  3.0   1374
16  1.0    35  1.0     38  1.0     42  1.0    42  1.0      38  1.0     32
17  2.0  1994  3.0   4029  5.0   2473  5.0  2054  5.0    2280  3.0   1663
18  1.0   587  3.0  11119  2.0   1623  5.0  1680  2.0    1155  4.0    852
19  5.0   493  1.0   1736  3.0   2382  2.0  2768  5.0     545  5.0  12599

    QmA     QmE  QnA   QnE  QoA   QoE  QpA   QpE  QqA   QqE  QrA   QrE  QsA  \
0   1.0    1078  4.0   341  5.0   635  2.0  1448  4.0   838  4.0   765  3.0
1   5.0    2089  1.0   694  2.0  1527  1.0  1335  3.0   821  5.0  1826  4.0
2   4.0    1153  5.0   871  5.0   937  4.0   906  4.0  1117  4.0  1278  3.0
3   4.0     869  2.0   661  5.0  2685  5.0   989  2.0  2225  1.0  1095  5.0
4   2.0     697  5.0   595  3.0  1464  2.0  1028  4.0   823  4.0  1130  2.0
5   4.0     557  2.0  1148  4.0   932  5.0  3674  4.0  1257  2.0   714  4.0
6   5.0     562  1.0   411  4.0  1507  5.0   857  1.0   623  1.0  1416  1.0
7   4.0     619  4.0   472  5.0   530  3.0   562  3.0   873  2.0  1278  4.0
8   4.0    1331  1.0  1614  5.0   655  5.0  1029  3.0   644  4.0  1584  4.0
9   4.0    1340  4.0   853  4.0  1618  2.0  1119  5.0  1156  5.0  1423  4.0
10  3.0     704  2.0   595  4.0   830  3.0   579  3.0   521  2.0  1309  4.0
11  2.0    1242  4.0   597  1.0  2037  5.0  1087  2.0   630  3.0  1555  1.0
12  5.0     655  1.0   311  3.0  6785  4.0   888  1.0   956  3.0  1528  5.0
13  4.0     645  1.0   794  5.0   757  3.0  1102  3.0   366  2.0   698  5.0
14  2.0    3071  4.0  1865  2.0  4234  1.0  1229  4.0  2492  4.0  7125  3.0
15  3.0  833880  4.0   356  4.0   819  2.0   891  2.0   330  5.0   907  3.0
16  1.0      38  1.0    38  1.0    38  1.0   263  1.0    41  1.0    49  1.0
17  4.0    1403  5.0  1168  3.0   189  4.0   850  2.0  1709  4.0  3854  1.0
18  4.0     637  2.0   384  4.0  2304  5.0  1372  2.0   503  4.0  1512  4.0
19  1.0     770  5.0   304  2.0  1109  2.0   626  3.0  1406  1.0  1023  4.0

     QsE  QtA   QtE  education  engnat  familysize  gender  hand  married  \
0   1954  1.0  1482          2       1           3    Male     1        1
1   1259  3.0  1564          4       2           2  Female     1        1
2    619  5.0  1552          3       2           4    Male     1        1
3   1147  5.0   947          3       1           3    Male     1        3
4    528  4.0  1548          4       1           4  Female     1        3
5    390  4.0   764          2       2           3    Male     1        1
6    475  2.0  1577          2       1           3  Female     1        1
7    486  3.0  1013          2       1           3  Female     1        1
8   1149  3.0  3865          2       1           2  Female     1        1
9   1533  5.0  2182          4       2           2  Female     1        2
10  1263  4.0   909          2       1           2    Male     1        1
11  1252  3.0  1772          2       1           2  Female     1        2
12   577  1.0  1087          1       1           2    Male     1        1
13   390  4.0   736          3       1           3  Female     1        1
14  1965  1.0  1722          4       1           5    Male     1        1
15   396  2.0   926          4       1           2    Male     2        2
16    37  1.0    42          4       1           2    Male     1        3
17   534  5.0   542          1       1           2  Female     1        1
18   896  3.0  1117          3       2           2    Male     1        1
19   572  1.0   859          2       1           6    Male     1        2

     race  tp01  tp02  tp03  tp04  tp05  tp06  tp07  tp08  tp09  tp10  urban  \
0   White     2     4     3     5     1     1     3     2     1     5      2
1   Asian     2     5     0     1     1     4     1     6     1     1      3
2   Asian     2     1     1     5     0     1     0     1     3     4      2
3   White     5     0     1     1     2     5     2     4     4     6      3
4   White     2     5     1     4     1     2     0     5     2     1      2
5   Black     6     5     4     1     2     0     2     1     4     5      3
6   Other     0     0     1     2     0     6     5     6     2     0      3
7   Other     1     1     2     4     1     6     3     2     4     6      3
8   Other     0     5     1     2     1     5     2     1     1     6      2
9   White     1     5     0     5     2     4     0     6     2     6      2
10  White     1     2     4     1     0     3     3     0     5     4      3
11  White     4     2     1     2     2     2     4     6     1     3      2
12  White     5     4     5     4     1     1     2     2     1     3      2
13  Asian     3     2     1     0     0     3     3     0     6     6      3
14  White     5     1     1     0     5     1     1     5     1     1      2
15  White     3     0     4     2     0     2     5     1     1     5      3
16  White     5     0     0     1     6     6     6     0     6     0      3
17  White     4     1     4     2     0     0     3     2     2     6      3
18  White     5     2     2     5     0     1     3     3     1     6      1
19  White     2     1     0     4     1     0     0     6     0     4      2

    wf_01  wf_02  wf_03  wr_01  wr_02  wr_03  wr_04  wr_05  wr_06  wr_07  \
0       0      1      0      1      1      1      1      1      1      1
1       0      0      0      0      1      0      0      1      0      1
2       0      0      0      1      1      0      1      1      0      1
3       0      0      0      0      1      0      1      1      0      1
4       0      0      0      1      1      0      1      1      0      1
5       0      0      0      1      1      0      1      1      0      1
6       0      0      0      1      1      0      1      1      0      1
7       0      0      0      1      1      0      1      1      0      1
8       0      0      1      1      1      0      1      1      0      1
9       0      0      0      0      1      0      1      1      0      1
10      0      0      1      1      1      0      1      1      0      1
11      0      0      1      1      1      0      1      1      1      1
12      0      0      0      0      1      0      1      1      0      1
13      0      0      0      1      0      0      1      1      0      1
14      0      1      0      1      1      1      1      1      1      1
15      0      0      0      1      1      1      1      1      1      1
16      1      1      1      1      0      1      1      1      1      1

In [4]:
print (df_train[["gender", "voted"]].groupby(['gender'], as_index=False).mean())
print (df_train[["race", "voted"]].groupby(['race'], as_index=False).mean())

for dataset in full_data:
    dataset['gender'] = dataset['gender'].map( {'Female': 0, 'Male': 1} ).astype(int)
    dataset['race'] = dataset['race'].map( {'Arab': 0, 'Asian': 1,'Black': 2, 'Indigenous Australian': 3,'Native American':4,'Other':5,'White':6}).astype(int)

   gender     voted
0  Female  1.542350
1    Male  1.557257
                    race     voted
0                   Arab  1.746032
1                  Asian  1.705830
2                  Black  1.620388
3  Indigenous Australian  1.520000
4        Native American  1.616487
5                  Other  1.606307
6                  White  1.500261

In [5]:
X = df_train.iloc[:,1:-1]
y = df_train.iloc[:,[-1]]
test_x = df_test.iloc[:,1:]
print(X.dtypes)
print(y.shape)
print(test_x.shape)
#religion    object city 
#gender         object male , female
#age_group      object 30s...
#race           object white ..

QaA      float64
QaE        int64
QbA      float64
QbE        int64
QcA      float64
          ...
wr_09      int64
wr_10      int64
wr_11      int64
wr_12      int64
wr_13      int64
Length: 74, dtype: object
(22310, 1)
(9562, 74)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=777,stratify=y)

In [17]:
print('y_train class distribution')
print(y_train.value_counts(normalize=True))

print('y_test class distribution')
print(y_test.value_counts(normalize=True))

y_train class distribution
voted
2        0.550263
1        0.449737
dtype: float64
y_test class distribution
voted
2        0.550376
1        0.449624
dtype: float64

In [26]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(random_state=0)
clf.fit(X_train, y_train)
y_pred = clf.predict(test_x)
y_pred

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 2, 1, ..., 2, 1, 2])

In [27]:
submit = pd.read_csv('sampleSubmission.csv')

submit

      index  voted
0         6      1
1        10      1
2        12      1
3        14      1
4        25      1
...     ...    ...
9557  45506      1
9558  45509      1
9559  45512      1
9560  45516      1
9561  45529      1

[9562 rows x 2 columns]

In [28]:
for i in range(len(y_pred)):
    submit['voted'][i] = y_pred[i].item()

submit

      index  voted
0         6      2
1        10      2
2        12      1
3        14      1
4        25      1
...     ...    ...
9557  45506      2
9558  45509      2
9559  45512      2
9560  45516      1
9561  45529      2

[9562 rows x 2 columns]

In [29]:
submit.to_csv('result.csv',mode='w',index=False)
!kaggle competitions submit -c 2020ml4re -f result.csv -m "14010974_이기택"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.6)
100% 72.5k/72.5k [00:00<00:00, 156kB/s]
Successfully submitted to 2020.ML.중간고사.문제4.다시풀기