In [2]:
#기상현상에 따른 태양광 발전량 예측 
# 0.16145
!pip uninstall --y kaggle
!pip install --upgrade pip
!pip  install kaggle==1.5.6

!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle -v

Uninstalling kaggle-1.5.8:
  Successfully uninstalled kaggle-1.5.8
Collecting pip
  Downloading https://files.pythonhosted.org/packages/cb/28/91f26bd088ce8e22169032100d4260614fc3da435025ff389ef1d396a433/pip-20.2.4-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 10.8MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.4
Collecting kaggle==1.5.6
  Downloading kaggle-1.5.6.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.2 MB/s
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.6) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.6-py3-none-any.whl size=72859 sha256=a7b724774d35d6d6eed0d3cb06caac5049ff0ad1c3d708e9d273b73d22dbe02d
  Stored in directory: /root/.cache/pip/wheels/01/3e/ff/77407ebac3ef71a79b9166a8382aecf88415a0bcbe3c095a01
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.6
Kaggle API 1.5.6

In [3]:
!kaggle competitions download -c solarenergy-meteorologicalphenomenon2
!unzip solarenergy-meteorologicalphenomenon2.zip

Downloading solarenergy-meteorologicalphenomenon2.zip to /content
  0% 0.00/6.51k [00:00<?, ?B/s]
100% 6.51k/6.51k [00:00<00:00, 4.74MB/s]
Archive:  solarenergy-meteorologicalphenomenon2.zip
  inflating: Solar_SubmitForm_2.csv
  inflating: Solar_TestData_2.csv
  inflating: Solar_TrainData_3.csv

In [36]:
import seaborn as sns 
import pandas as pd 


df_train = pd.read_csv('Solar_TrainData_3.csv',header=None,skiprows=1,usecols=range(0,9))
df_test  = pd.read_csv('Solar_TestData_2.csv',header=None,skiprows=1,usecols=range(0,8))
print(df_train.head(10))
print(df_test.head(10))

            0    1    2    3      4    5     6    7      8
0  2018-01-01  0.9  0.0  1.5  0.479  8.4  7.13  0.0  1.229
1  2018-01-02  0.7  0.0  0.7  0.569  8.1  6.70  0.0  1.034
2  2018-01-03  2.0  0.0  1.5  0.265  8.6  7.35  0.0  1.193
3  2018-01-04  1.4  0.0  1.0  0.321  4.0  4.79  0.0  0.859
4  2018-01-05  2.4  0.0  1.3  0.379  7.1  6.54  0.0  1.197
5  2018-01-06 -0.3  0.0  0.8  0.523  8.5  7.64  0.0  1.268
6  2018-01-07 -0.3  0.9  0.5  0.619  1.0  2.81  0.0  0.419
7  2018-01-08  3.2  1.5  1.1  0.814  0.0  1.23  0.0  0.231
8  2018-01-09  1.8  0.0  2.6  0.450  7.7  6.81  0.0  0.685
9  2018-01-10 -1.7  0.5  2.3  0.573  4.3  4.31  0.0  0.640
            0     1     2    3      4     5      6    7
0  2018-01-11  -5.4   0.0  1.5  0.465   8.7   7.78  0.0
1  2018-02-16   3.4   0.0  0.8  0.309   5.2   6.63  0.0
2  2018-03-04   9.4  13.1  0.8  0.859   0.0   2.40  0.0
3  2018-03-28  13.4   0.0  1.2  0.611  10.7  13.74  0.0
4  2018-04-27  16.1   0.0  1.1  0.583  11.1  24.00  0.0
5  2018-05-11  16.5   0.0  1.2  0.603  10.3  24.66  0.0
6  2018-05-30  22.1   0.0  1.2  0.765   6.1  18.86  0.0
7  2018-06-12  18.5  19.4  0.9  0.830   1.3   9.28  0.0
8  2018-06-25  24.6   0.0  1.2  0.650  10.2  22.89  0.0
9  2018-07-28  28.6   0.0  1.1  0.779   3.8  13.54  0.0

In [37]:
X = df_train.iloc[:,1:7]
y = df_train.iloc[:,[-1]]
X_test = df_test.iloc[:,1:7]

print(X.shape)
print(y.shape)

(350, 6)
(350, 1)

In [86]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

regressor = KNeighborsRegressor(n_neighbors=10,weights = "distance")

regressor.fit(X, y)

test_predict = regressor.predict(X_test)
print(test_predict)

[[1.38878594]
 [1.00044753]
 [0.37442653]
 [1.59008379]
 [2.00562103]
 [2.02833521]
 [1.51183147]
 [0.4399516 ]
 [1.7948916 ]
 [1.17044329]
 [0.60149115]
 [0.44398969]
 [1.645     ]
 [1.02044795]
 [1.29387252]
 [0.78602938]]

In [87]:
submit = pd.read_csv('Solar_SubmitForm_2.csv')
submit

    YYYY/MM/DD  Predict
0   0000-00-00      NaN
1   0000-00-00      NaN
2   0000-00-00      NaN
3   0000-00-00      NaN
4   0000-00-00      NaN
5   0000-00-00      NaN
6   0000-00-00      NaN
7   0000-00-00      NaN
8   0000-00-00      NaN
9   0000-00-00      NaN
10  0000-00-00      NaN
11  0000-00-00      NaN
12  0000-00-00      NaN
13  0000-00-00      NaN
14  0000-00-00      NaN
15  0000-00-00      NaN

In [88]:
MAKE = pd.read_csv('Solar_TestData_2.csv', header = None, skiprows= 1)

for i in range(len(test_predict)):
  submit['Predict'][i] = test_predict[i].item()

submit['YYYY/MM/DD'] = MAKE[0]
submit

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    YYYY/MM/DD   Predict
0   2018-01-11  1.388786
1   2018-02-16  1.000448
2   2018-03-04  0.374427
3   2018-03-28  1.590084
4   2018-04-27  2.005621
5   2018-05-11  2.028335
6   2018-05-30  1.511831
7   2018-06-12  0.439952
8   2018-06-25  1.794892
9   2018-07-28  1.170443
10  2018-08-16  0.601491
11  2018-09-14  0.443990
12  2018-09-25  1.645000
13  2018-10-22  1.020448
14  2018-11-15  1.293873
15  2018-12-07  0.786029

In [89]:
submit.to_csv('result.csv', mode='w', index = False)

In [90]:
! kaggle competitions submit -c solarenergy-meteorologicalphenomenon2 -f result.csv -m "14010974 이기택 LATE"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.6)
100% 479/479 [00:00<00:00, 1.11kB/s]
Successfully submitted to SejongAI.텀프로젝트.[기상현상에 따른 태양광발전량 예측]